<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <app-icon-hamburger />
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a routerLink="/" i18n>Homepage</a></li>
        <li><a routerLink="/shelves" i18n>My shelves</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl" routerLink="/">ShelfSpace</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1" *ngIf="isUserAuthenticated">
      <li><a routerLink="/" i18n>Homepage</a></li>
      <li><a routerLink="/shelves" i18n>My shelves</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <button (click)="onUserLogin()" *ngIf="!isUserAuthenticated" class="btn-sm btn btn-primary" i18n>(Log in)</button>
    <button (click)="onUserLogout()" *ngIf="isUserAuthenticated" class="btn-sm btn btn-primary" i18n>(Log out)</button>
  </div>
</div>

