<div class="modal modal-open">
  <div class="modal-box">
    <h3 class="font-bold text-lg">
      {{ editMode ? "Edytowanie półki" : "Tworzenie nowej półki" }}
    </h3>

    <form (ngSubmit)="onShelfSave(shelfEditForm)" #shelfEditForm="ngForm">
      <div class="form-control w-full max-w-xs">
        <label class="label" for="shelf-edit-name">
          <span class="label-text">
            <ng-container i18n>Shelf name</ng-container> (*)
          </span>
        </label>

        <input [ngModel]="editedShelf?.shelfName" type="text" class="input input-bordered w-full max-w-xs"
               name="shelfName" id="shelf-edit-name" minlength="3" maxlength="64" required />

        <label class="label" for="shelf-edit-icon">
          <span class="label-text">
            <ng-container i18n>Icon</ng-container> (*)
          </span>
        </label>

        <select class="select select-bordered w-full max-w-xs" name="shelfType"
                [ngModel]="editedShelf?.shelfType ?? 1" id="shelf-edit-icon" required>
          <option value="GAME" i18n>
            Game
          </option>
          <option value="BOOK" i18n>
            Book
          </option>
          <option value="MOVIE" i18n>
            Movie/series
          </option>
          <option value="OTHER" i18n>
            Other
          </option>
        </select>
      </div>

      <p class="text-error pt-3" *ngIf="error" i18n>
        An error occurred while saving the shelf. Check the quality of your internet connection
        or contact your administrator.
      </p>

      <p class="pt-3" *ngIf="quotaExceeded" i18n>
        You have exceeded the allowed number of shelves. You need to delete some in order to create a new one.
      </p>

      <div class="modal-action">
        <button class="btn" type="button" (click)="this.close.emit()" i18n>Cancel</button>
        <button class="btn btn-primary" type="submit" [disabled]="!shelfEditForm.valid">
          <app-spinner *ngIf="saving" />
          <span *ngIf="!saving" i18n>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
